{
  "presets": ["env", "es2015"],
  "plugins": ["babel-plugin-transform-async-to-generator"],
  "env": {
    "test": {
      "presets": ["env", "es2015"]
    },
    "development": {
      "presets": ["env", "es2015"]
    }
  }
}
